.menu-bar
  .row
    .col-xl-7.name
      Adam Petersen
    .col-xl-5
      .row
        .col-2.menu-button
          = link_to 'Home', root_path
        .col-2.menu-button
          = link_to 'About', about_index_path
        .col-2.menu-button
          = link_to 'Portfolio', portfolio_index_path
        .col-2.menu-button
          = link_to 'Projects', projects_index_path
        .col-2.menu-button
          = link_to 'Contact', contact_index_path
        .col-2
